[project]
name = structured-data-ml

[system]
cuda_visible_devices = 0       

[data]
data_path = data/creditcard.csv
target_column = Class
visualise_data = True
check_imbalance = True
test_size = 0.2
random_state = 42
stratify = True


#,categorical_columns_settings = {"Gender": {"imputer": "cat_imputer", "encoder": "onehot", "encoder_options": {"sparse_output": false}}}
#, "FAVC": {"method": "onehot"}, "CAEC": {"method": "ordinal", "options": {"categories": [["no", "Sometimes", "Frequently", "Always"]]}}}


numerical_columns_settings = {"Weight": {"imputer": "num_imputer", "scaler": "standard"}, "Height": {"imputer": "num_imputer", "scaler": "standard"}}
#columns_to_drop = family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS


[model]
model_name = xgboost
Options: random_forest, xgboost, linear_regression
task = classification
# Options: classification, regression

[hyperparameters.random_forest]
n_estimators = 100
max_depth = 10
min_samples_split = 2
min_samples_leaf = 1

[hyperparameters.xgboost]
n_estimators = 100
max_depth = 6
learning_rate = 0.1
subsample = 0.8
colsample_bytree = 0.8
objective = multi:softprob
eval_metric = mlogloss

[hyperparameters.linear_regression]
fit_intercept = True
normalize = False

[logging]
save_model = True
model_output_path = ./models/
mlflow_tracking_uri = http://localhost:5001

[training]
use_kfold_cv = True
n_splits = 5
shuffle_cv = True
random_state_cv = 42
use_optuna = True
n_trials = 10 
timeout = 600 
optuna_direction = maximize
