[project]
name = structured-data-ml

[system]
cuda_visible_devices = 0

[data]
data_path = /Users/emmanuelolanipekun/project-template/Structured_data_template/app/Data/creditcard.csv
target_column = Class
visualise_data = true
check_imbalance = true
feature_engineering = false
test_size = 0.2
random_state = 42
stratify = False
columns_to_drop = 

# Preprocessing settings for categorical and numerical columns
[preprocessing.categorical]


[preprocessing.numerical]
#age.imputer = median
#age.scaler = standard
#chol.imputer = median  
#chol.scaler = standard

[model]
model_name = xgboost
task = classification

[hyperparameters.random_forest]
n_estimators = 100
max_depth = 10
min_samples_split = 2
min_samples_leaf = 1
random_state = 42

[hyperparameters.xgboost]
n_estimators = 100
max_depth = 6
learning_rate = 0.1
subsample = 0.8
colsample_bytree = 0.8
objective = multi:softprob
eval_metric = mlogloss
random_state = 42

[hyperparameters.linear_regression]
fit_intercept = true

[hyperparameters.logistic_regression]
C = 1.0
penalty = l2
solver = lbfgs
max_iter = 1000
random_state = 42

[logging]
save_model = true
model_output_path = ./models/
mlflow_tracking_uri = http://localhost:5001

[training]
use_kfold_cv = true
n_splits = 5
shuffle_cv = true
random_state_cv = 42
use_optuna = true
n_trials = 10
timeout = 600
optuna_direction = maximize