[project]
name = structured-data-ml

[system]
cuda_visible_devices = 0

[data]
data_path = /Users/emmanuelolanipekun/project-template/Structured_data_template/app/Data/creditcard.csv
target_column = Class
visualise_data = false
check_imbalance = true
feature_engineering = false
test_size = 0.2
random_state = 42
stratify = False
columns_to_drop = 

# Preprocessing settings for categorical and numerical columns
[preprocessing.categorical]


[preprocessing.numerical]

[model]
model_name = random_forest
task = classification

[hyperparameters.random_forest]
n_estimators = 100
max_depth = 10
min_samples_split = 2
min_samples_leaf = 1
random_state = 42

[hyperparameters.xgboost]
# kept for compatibility but not used for this run

[hyperparameters.linear_regression]
fit_intercept = true

[hyperparameters.logistic_regression]
C = 1.0
penalty = l2
solver = lbfgs
max_iter = 1000
random_state = 42

[logging]
save_model = true
model_output_path = ./models/
mlflow_tracking_uri = file:./mlruns

[training]
use_kfold_cv = true
n_splits = 5
shuffle_cv = true
random_state_cv = 42
use_optuna = false
n_trials = 10
timeout = 600
optuna_direction = maximize
